table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

img {
    display: block; 
    margin: 20px auto; 
    max-width: 70%;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px 15px;
}
th {
    background-color: #f5f5f5;
    text-align: center; /* заголовок таблицы по центру */
}
td:first-child {
    text-align: left; /* первый столбец по левому краю */
}
td:nth-child(2) {
    text-align: center; /* второй по центру */
}
td:last-child {
    text-align: right; /* третий по правому краю */
}
caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

a {
  display: block;
  max-width: 300px;
  width: 100%;
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 15px auto;     /* автоматические отступы слева и справа для центрирования */
}